/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .post {
  width: 615px;
  border-radius: 4px;
  box-shadow:0px 0px 0px 1px lightgrey inset;
  margin: auto;
  font-family: arial;
  margin-top: 20px;
}

.post-header {
  height: 60px;
  line-height: 60px;
  margin-left: 20px;
  display: flex;
 }

.post-likes {
  height: 60px;
  line-height: 60px;
  margin-left: 20px;
  display: flex;
 }

.post-picture {
  height: 460px;
  width: 100%;
}

.post-footer {
  height: 125px;
  margin-left: 20px;
}

.post-comment {
  height: 50px;
  line-height: 50px;
  margin-left: 20px;
  color: lightgrey;
}

span {
  margin-left: 10px;
}

.user-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  margin-top: 15px;
}

.like-icon {
  height: 30px;
  width: 30px;
  margin-top: 15px;
}

.user-name {
  margin-left: 20px;
}

.heart {
  color: lightgrey;
}

.heart:hover {
  color: red;
}

.date {
  color: lightgrey;
  margin-top: 10px;
  margin-bottom: 20px;
}

.post-comment a {
  color: lightgrey;
  text-decoration: none;
}

.post-comment a:hover {
  color: darkblue;
}

.post-footer a {
  color: lightgrey;
  text-decoration: none;
}

.post-footer a:hover {
  color: darkblue;
}

.tag {
  margin-bottom: 10px;
}

.post-button {
  float: right;
  margin-right: 30px;
}
