/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .home {
  margin-left: 5%;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 30px;
}

.signin {
  float: right;
  margin-right: 5%;  
  font-size: 18px;
}

.greeter {
  position: fixed;
  margin-left: 45%;
  margin-top: -25px;
  font-size: 18px;
  text-align: center;
  width: 10%;
}

.body {
  padding-top: 50px;
  font-family: arial;
}

.fixed-header {
  width: 100%;
  position: fixed;        
  background: #333;
  padding: 10px 0;
  color: #fff;
  font-family: arial;
  top: 0;
  left: 0;
}

nav a{
  color: #fff;
  text-decoration: none;
  padding: 7px;
  display: inline-block;
}
 
 .post {
  width: 615px;
  border-radius: 4px;
  box-shadow:0px 0px 0px 1px lightgrey inset;
  margin: auto;
  font-family: arial;
  margin-top: 20px;
}

.post-header {
  height: 60px;
  line-height: 60px;
  margin-left: 20px;
  display: flex;
 }

.post-likes {
  height: 50px;
  line-height: 50px;
  margin-left: 20px;
  display: flex;
 }

.post-picture {
  height: 460px;
  width: 100%;
}

.post-footer {
  min-height: 0px;
  margin-left: 20px;
}

.post-comment {
  height: 50px;
  line-height: 50px;
  margin-left: 20px;
  color: lightgrey;
}

span {
  margin-left: 10px;
}

.user-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  margin-top: 15px;
}

.like-icon {
  height: 30px;
  width: 30px;
  margin-top: 15px;
}

.user-name {
  margin-left: 20px;
}

.heart {
  height: 30px;
  width: 30px;
  line-height: 40px;
  all: unset;
  color: lightgrey;
}

.heart:hover {
  background-color: red;
}

.date {
  color: lightgrey;
  margin-top: 10px;
  margin-bottom: 20px;
}

.post-comment input {
  color: lightgrey;
  text-decoration: none;
}

.post-button:hover {
  color: darkblue;
}

.post-footer a {
  color: lightgrey;
  text-decoration: none;
}

.post-footer a:hover {
  color: darkblue;
}

.tag {
  margin-bottom: 10px;
}

.post-button {
  all: unset;
  float: right;
  margin-right: 30px;
}

.post-text {
  all: unset;
}

.post-text:focus {
  color: black;
}

.new-post {
  font-size: 15px;
  margin-left: 28%;
  padding-bottom: 10px;;
}

.login-form {
  width: 150px;
  margin: auto;
  text-align: center;
}

.new-post-link {
  width: 180px;
  margin: auto;
  text-align: center;
}

.new-post {
  padding-top: 40px;
  width: 180px;
  margin: auto;
  text-align: center;
}